@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="elementor-widget-container">
    <h3><b>Controller</b></h3>/p>
    <ul>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">EAFC Sud-Lux Jérémie</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Chemin de Weyler, Arlon</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Business identification number: 00000001</span></li>
    </ul>
    <p><span style="font-weight: 400;">If you have questions about processing your data, you can contact us via [email address].</span></p>
    <h3><b>Processing Activities</b></h3>
    <h4><b>Website visitors</b></h4>
    <p><span style="font-weight: 400;">When you visit our website, we use cookies for the website to function, which you can read more about in our cookie policy.</span></p>
    <h4><b>Communication with potential customers</b></h4>
    <p><span style="font-weight: 400;">When you have questions about our website or want to learn more about our services, you can contact us via:</span></p>
    <ul>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Contact form</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Email</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Telephone</span></li>
    </ul>
    <p><span style="font-weight: 400;">With these means, we will process your personal information to enter into a dialogue with you, e.g. answer questions about our services. We only process the information you give us in connection with our communication.</span></p>
    <p><span style="font-weight: 400;">We will typically process the following general information: name, email, and phone number.</span></p>
    <p><span style="font-weight: 400;">Our lawful basis for processing this personal data is </span><a href="https://rgpd.com/chapter-2-principles/article-6-lawfulness-of-processing/"><span style="font-weight: 400;">Article 6(1)(f)</span></a><span style="font-weight: 400;"> of the GDPR.</span></p>
    <p><span style="font-weight: 400;">We will delete our communication with you when it is clear whether you wish to use our services or not.</span></p>
    <p><span style="font-weight: 400;">Should there be a need in a particular case to store your personal information for a more extended period, this could be the case.</span></p>
    <h4><b>Customers</b></h4>
    <p><span style="font-weight: 400;">We communicate with our customers to ensure that our services are delivered correctly. We may process information about name, address, services, special agreements, payment information, etc.</span></p>
    <p><span style="font-weight: 400;">The lawful basis for processing this personal data is </span><a href="https://rgpd.com/chapter-2-principles/article-6-lawfulness-of-processing/"><span style="font-weight: 400;">Article 6(1)(b)</span></a><span style="font-weight: 400;"> of the General Data Protection Regulation.</span></p>
    <p><span style="font-weight: 400;">When the service has been completed, along with any outstanding payments, we will immediately delete the personal data.</span></p>
    <h4><b>Newsletter</b></h4>
    <p><span style="font-weight: 400;">We have a newsletter which it is voluntary to sign up for – and it is always possible to unsubscribe.</span></p>
    <p><span style="font-weight: 400;">The purpose of the newsletter is to send news from the company, which may deal with new content on the website or advertising our services.</span></p>
    <p><span style="font-weight: 400;">We will only send you emails if you have given your active consent to this. This requires that you enter your e-mail address in the first instance, to which we subsequently send an e-mail so that you can confirm the registration. In this way, we ensure that you have signed up for the newsletter yourself, i.e. given active consent.</span></p>
    <p><span style="font-weight: 400;">Our lawful basis for processing your data in connection with the newsletter is </span><a href="https://rgpd.com/chapter-2-principles/article-6-lawfulness-of-processing/"><span style="font-weight: 400;">Article 6(1)(a)</span></a><span style="font-weight: 400;"> of the General Data Protection Regulation.</span></p>
    <p><span style="font-weight: 400;">We will process your personal information as long as you are subscribed to the newsletter. We will stop sending this to you by unsubscribing from the newsletter. If we have not sent you a newsletter for one year, your consent will lapse due to our inaction.</span></p>
    <h4><b>Accounting</b></h4>
    <p><span style="font-weight: 400;">We store invoices and similar documents for accounting purposes, including general personal information such as name, address, and service description. We must save all accounting documents from complying with accounting laws.</span></p>
    <p><span style="font-weight: 400;">The lawful basis for processing personal data for accounting purposes is </span><a href="https://rgpd.com/chapter-2-principles/article-6-lawfulness-of-processing/"><span style="font-weight: 400;">Article 6(1)(d)</span></a><span style="font-weight: 400;"> of the General Data Protection Regulation.</span></p>
    <p><span style="font-weight: 400;">We store this information for a minimum of 5 years after the end of the current financial year.</span></p>
    <h4><b>Job applications</b></h4>
    <p><span style="font-weight: 400;">We welcome job applications to assess whether applicants match a hiring need in our company.</span></p>
    <p><span style="font-weight: 400;">Suppose you send your job application to us. In that case, our lawful basis for processing your data is </span><a href="https://rgpd.com/chapter-2-principles/article-6-lawfulness-of-processing/"><span style="font-weight: 400;">Article 6(1)(f)</span></a><span style="font-weight: 400;"> of the General Data Protection Regulation.</span></p>
    <p><span style="font-weight: 400;">We will immediately assess unsolicited applications to see whether they fit current employment needs. We will delete your information again if there is no match.</span></p>
    <p><span style="font-weight: 400;">If you applied for a job opening, we would discard your application if you are not hired and immediately after the right candidate is found for the job.</span></p>
    <p><span style="font-weight: 400;">Suppose you are part of a recruitment process and get hired for the job. In that case, we will provide you with separate information on how we process your data in this connection.</span></p>
    <h3><b>Processor</b></h3>
    <p><span style="font-weight: 400;">Few can handle everything themselves, and the same goes for us. Therefore we cooperate with business partners and suppliers, and some of which may be data processors.</span></p>
    <p><span style="font-weight: 400;">External suppliers can, for example, provide software used to organise our work, services, consulting, IT hosting or marketing.</span></p>
    <ul>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">[If necessary, list your data processors with company name and purpose of processing]</span></li>
    </ul>
    <p><span style="font-weight: 400;">It is our responsibility to ensure that your personal information is processed correctly. That is why we place high demands on our partners. Our partners must guarantee that your personal information is protected.</span></p>
    <p><span style="font-weight: 400;">We enter agreements data processors that handle personal information on our behalf to increase the security of your personal information.</span></p>
    <h3><b>Disclosure of Personal Information</b></h3>
    <p><span style="font-weight: 400;">We do not disclose your personal information to third parties.</span></p>
    <h3><b>Profiling and Automated Decisions</b></h3>
    <p><span style="font-weight: 400;">We do not profile or make automated decisions.</span></p>
    <h3><b>Third Country Transfers</b></h3>
    <p><span style="font-weight: 400;">We mainly use processors in the EU/EEA or processors which store data in the EU/EEA.</span></p>
    <p><span style="font-weight: 400;">This is not possible in some cases, and data processors outside the EU/EEA are used, but only if these can provide your data with appropriate protection.</span></p>
    <h3><b>Safety Measures</b></h3>
    <p><span style="font-weight: 400;">We keep the processing of personal data secure by ensuring appropriate technical and organisational measures.</span></p>
    <p><span style="font-weight: 400;">We have made risk assessments of our processing of personal data. We have subsequently introduced appropriate technical and organisational safety measures to increase processing security.</span></p>
    <p><span style="font-weight: 400;">One of our most important measures is to keep our employees updated on GDPR and IT security through ongoing <a href="https://rgpd.com/security-awareness-training/">security awareness training</a>, GDPR courses, and reviewing our GDPR procedures with employees.</span></p>
    <h3><b>Rights of Data Subjects</b></h3>
    <p><span style="font-weight: 400;">Under the General Data Protection Regulation, you have several rights regarding the processing of your data. You can read more about these rights at </span><a href="http://www.rgpd.com/"><span style="font-weight: 400;">RGPD.COM</span></a><span style="font-weight: 400;">.</span></p>
    <p><span style="font-weight: 400;">If you want to make use of your rights, don’t hesitate to get in touch with us so that we can help assist you.</span></p>
    <h4><b>Right of Access</b></h4>
    <p><span style="font-weight: 400;">You have the right to access the information we process about you.</span></p>
    <h4><b>Right to Rectification</b></h4>
    <p><span style="font-weight: 400;">You have the right to have incorrect information about yourself corrected.</span></p>
    <h4><b>Right to Erasure (The Right to be Forgotten)</b></h4>
    <p><span style="font-weight: 400;">Under certain circumstances you have the right to have information about you deleted before the time of our general deletion occurs.</span></p>
    <h4><b>Right to Restriction of Processing</b></h4>
    <p><span style="font-weight: 400;">In some instances, you have the right to have the processing of your data restricted.</span></p>
    <p><span style="font-weight: 400;">We may only keep processing your information with your consent or if we have a legitimate interest when this occurs. We can still store your data.</span></p>
    <h4><b>Right to Object</b></h4>
    <p><span style="font-weight: 400;">In some instances, you have the right to object to our otherwise lawful processing of your data. You can also object to the processing of your information for direct marketing.</span></p>
    <h4><b>Right to Data Portability</b></h4>
    <p><span style="font-weight: 400;">You have the right to receive a copy of your personal information in a structured, commonly used and machine-readable format and to have this personal information transferred from one data controller to another without hindrance.</span></p>
    <h4><b>Withdrawal of Consent</b></h4>
    <p><span style="font-weight: 400;">When our processing of your data is based on your consent, you have the right to withdraw your consent.</span></p>
    <h4><b>Complaint to the Data Protection Agency</b></h4>
    <p><span style="font-weight: 400;">You have the right to file a complaint to the Data Protection Agency if you are dissatisfied with how we process your data.</span></p>
    <p><span style="font-weight: 400;">We would generally encourage you to read more about the </span><a href="http://www.rgpd.com/"><span style="font-weight: 400;">GDPR</span></a><span style="font-weight: 400;"> to be up to date on the rules.</span></p>
</div>
